<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Responsive Website Landing Page - With Background Video Slider | Travel
    </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- <link rel="stylesheet" href="assets/css/all.min.css"> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css"
    /> -->
    <link rel="stylesheet" href="assets/css/global/icommon.css" />
    <link rel="stylesheet" href="assets/css/global/bootstrap-all.css" />
    <link rel="stylesheet" href="assets/css/global/main.css" />
    <link rel="stylesheet" href="assets/css/global/custom.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/global/styles.css" />
  </head>
  <body id="home">
    <div id="app">
      <header id="pageHeader">
        <div style="display: flex">
          <div
            @click="toggleClass()"
            :class="{active: isActive}"
            class="menu-btn"
            style="margin-left: 5px"
          ></div>

          <a href="index.html" class="brand">أضحية</a>
        </div>

        <div :class="{active: isActive}" class="navigation">
          <div class="navigation-items">
            <a href="#home">الرئيسية</a>
            <a href="#products">المنتجات</a>
            <a href="#about">عن الشركة</a>

            <div class="dropdown-m">
              <div
                class="dropdown-m-toggle"
                @click="!isDisabled && (open = !open)"
              >
                <!-- <img :src="selected.flag" alt="selected.code" /> -->
                {{ selected.name }}
                <i class="fa fa-chevron-down"></i>
              </div>

              <div v-if="open" class="dropdown-m-menu">
                <div
                  v-for="currency in currencies"
                  :key="currency.code"
                  @click="selectCurrency(currency)"
                >
                  <!-- <img :src="currency.flag" :alt="currency.code" /> -->
                  {{ currency.name }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="bd-highlight d-flex align-items-center justify-content-end header-cart"
        >
          <div class="d-sm-block">
            <a href="cart.html" style="color: inherit">
              <h3 v-if="cart.length !== 0" class="cart-header-total">
                {{selectedCountry}} {{ totalPrice.toLocaleString('en-US', {
                minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
              </h3>
            </a>
          </div>
          <div style="position: relative">
            <a class="a-shopping-cart" href="cart.html" style="color: inherit">
              <span
                class="icon-shopping_cart_black_36dp-1-1 header-theme-icon-primary"
                ><span class="path1"></span>
                <span class="path2"></span>
              </span>
              <span v-if="cart.length !== 0" class="cart-badge"
                >{{ cart.length }}</span
              >
            </a>
          </div>
        </div>
      </header>

      <section class="home">
        <video
          class="video-slide active"
          src="assets/video/1.mp4"
          autoplay
          muted
          loop
        ></video>
        <div class="content active">
          <h1>مشروع أضحية<br /><span>بركة تمتد عبر أفريقيا</span></h1>
          <p>
            مشروع أضحية هو مشروع يهدف إلى توفير الأضاحي والعقائق والصدقات
            للمحتاجين في مختلف أنحاء أفريقيا. نحن نعمل على ضمان وصول الأضاحي إلى
            الأسر المحتاجة في الوقت المناسب وبطريقة مريحة وآمنة. من خلال شبكة
            واسعة من الشركاء المحليين والمتطوعين، نقوم بتوزيع اللحوم على الأسر
            الأكثر احتياجاً في القرى والمناطق النائية، مع الحرص على تطبيق معايير
            الذبح الشرعي والنظافة الصحية. نوثق كل مراحل المشروع بالصور والفيديو
            لنقل الصورة الحقيقية للمستفيدين ولضمان الشفافية الكاملة في العمل.
          </p>
          <a href="#products">اطلب الان</a>
        </div>
        <div class="media-icons">
          <a href="https://www.facebook.com/share/17DUEiQu91/" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            href="https://www.instagram.com/odhiyaapp?igsh=MTM2bHJ0emdvYjhyYg=="
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href="https://x.com/odhiya85554?t=Tv5Z1qC0JYqGCSsLargPGA&s=09"
            target="_blank"
          >
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </section>

      <section id="products">
        <div class="products">
          <div class="product-top">
            <h1 class="section-title"><span>منتجاتنا</span></h1>
            <p>
              نضمن لك سهولة اختيار الأضاحي مع توفير خيارات متنوعة تضمن تنفيذ
              الطقوس الدينية بأعلي معايير الدقة والإهتمام
            </p>
          </div>
          <div class="product-bottom" id="product-bottom">
            <div
              class="product-item"
              v-for="product in fiteredProducts"
              :key="product.id"
            >
              <div class="icon">
                <a
                  @click="selectedProduct(product)"
                  :href="`product-detail/${slugify(product.name)}.html`"
                >
                  <img :src="product.img" />
                </a>
              </div>
              <h2>{{ product.name }}</h2>
              <p>
                <span
                  >{{(product.price[selectedCountry].default).toLocaleString('en-US',
                  { minimumFractionDigits: 2, maximumFractionDigits: 2
                  })}}</span
                >
                {{ currencyCode }}
              </p>
              <div class="add-cart">
                <a
                  @click="selectedProduct(product)"
                  :href="`product-detail/${slugify(product.name)}.html`"
                  class="cta"
                  id="add-to-cart"
                  data-id="${product.id}"
                  >أضف إلي السلة</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- About Section -->
      <section id="about">
        <div class="about">
          <div class="col-left">
            <img src="assets/imgs/logo/OdhiyaBackground.png" alt="img" />
          </div>
          <div class="col-right">
            <h2>مشروع <span>أضحية</span></h2>
            <p>
              مشروع متخصص في مجال الأضاحي و العقائق، يهدف إلى توفير الأضاحي
              والعقائق والصدقات للمحتاجين في أفريقيا، ونعمل على ضمان وصول
              الأضاحي إلى الأسر المحتاجة في الوقت المناسب، وتوثيق ذلك لكم بالاسم
              والصور والفيديوهات
            </p>
            <div class="social">
              <a
                href="https://www.instagram.com/odhiyaapp?igsh=MTM2bHJ0emdvYjhyYg=="
                target="_blank"
                class="social-icon"
              >
                <i class="fab fa-instagram"></i>
              </a>
              <a
                href="https://www.facebook.com/share/17DUEiQu91/"
                target="_blank"
                class="social-icon"
              >
                <i class="fab fa-facebook-f"></i>
              </a>
              <a
                href="https://wa.me/+201080807241"
                target="_blank"
                class="social-icon"
              >
                <i class="fab fa-whatsapp"></i>
              </a>
              <a
                href="https://x.com/odhiya85554?t=Tv5Z1qC0JYqGCSsLargPGA&s=09"
                target="_blank"
                class="social-icon"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- Footer -->
      <!-- <section id="footer">
        <div class="footer container">
          <div class="brand">
            <p>جميع الحقوق محفوظة | 2025 <span>مشروع أضحية</span></p>
          </div>
        </div>
      </section> -->
      <div class="footer">
        <footer class="d-flex flex-column">
          <div
            class="d-flex justify-content-center align-items-center flex-wrap p-3"
          >
            <span class="text-center text-white mt-3">
              جميع الحقوق محفوظة لـ مشروع أضحية © 2025
            </span>
          </div>
        </footer>
      </div>
      <!-- End Footer -->
    </div>

    <!-- <script src="assets/js/bootstrap.bundle.min.js"></script> -->
    <script src="assets/js/vue.global.js"></script>

    <script type="text/javascript">
      // document.querySelector('.menu-btn').addEventListener('click', function(){
      //   document.querySelector('.navigation').classList.toggle('active');
      //   document.querySelector('.menu-btn').classList.toggle('active');
      // })

      Vue.createApp({
        data: function () {
          return {
            isActive: false,
            isDisabled: false,
            open: false,
            selectedCountry: "SAR",
            currencyCode: "رس",
            selected: {
              code: "SAR",
              name: "السعودية",
            },
            currencies: [
              {
                code: "SAR",
                name: "السعودية",
              },
              {
                code: "AED",
                name: "الامـارات",
              },
              {
                code: "EGP",
                name: "مصـــــر",
              },
            ],
            products: [],
            cart: [],
            search: "",
          };
        },
        mounted() {
          fetch("assets/js/products.json")
            .then((response) => response.json())
            .then((data) => {
              this.products = data;
              localStorage.setItem("products", JSON.stringify(data));
            });
          const saved = localStorage.getItem("currency");
          if (saved) {
            this.selected = JSON.parse(saved);

            this.selectedCountry = this.selected.code;

            if (this.selected.code == "SAR") {
              this.currencyCode = "رس";
            } else if (this.selected.code == "AED") {
              this.currencyCode = "دإ";
            } else if (this.selected.code == "EGP") {
              this.currencyCode = "جنيه";
            }
            const savedCart = localStorage.getItem("cart");
            if (savedCart) {
              this.cart = JSON.parse(savedCart);
              this.isDisabled = true;
              document
                .querySelector(".dropdown-m-toggle")
                .classList.add("disabled");
            }
          }
          // const currencySaved = localStorage.getItem("currencyCode");
          // if (currencySaved) this.currencyCode = currencySaved;
          this.headerScroll();
        },
        methods: {
          toggleClass() {
            this.isActive = !this.isActive;
          },
          selectCurrency(currency) {
            this.selected = currency;
            this.selectedCountry = currency.code;
            if (this.selected.code == "SAR") {
              this.currencyCode = "رس";
            } else if (this.selected.code == "AED") {
              this.currencyCode = "دإ";
            } else if (this.selected.code == "EGP") {
              this.currencyCode = "ج";
            }
            this.open = false;
            localStorage.setItem("currency", JSON.stringify(currency));
            localStorage.setItem("currencyCode", currency.code);
          },
          selectedProduct(product) {
            localStorage.setItem("product", JSON.stringify(product));
          },
          headerScroll() {
            window.addEventListener("scroll", function () {
              if (scrollY > 100) {
                document.querySelector("#pageHeader").classList.add("scroll");
              } else {
                document
                  .querySelector("#pageHeader")
                  .classList.remove("scroll");
              }
            });
          },
          slugify(text) {
            return text
              .toString() // تأكيد أنه نص
              .trim() // إزالة المسافات من البداية والنهاية
              .toLowerCase() // تحويل للحروف الصغيرة
              .replace(/\s+/g, "-") // استبدال المسافات بـ -
              .replace(/[^\u0600-\u06FFa-z0-9-]/g, "") // حذف أي رموز غير العربية/الإنجليزية/الأرقام/-
              .replace(/-+/g, "-"); // منع تكرار الشرطات
          },
        },
        computed: {
          totalPrice() {
            // حساب السعر الكلي
            return this.cart
              .reduce((sum, item) => sum + item.price * item.quantity, 0)
              .toFixed(2);
          },
          fiteredProducts() {
            return this.products.filter((product) =>
              product.name.toLowerCase().includes(this.search.toLowerCase())
            );
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
